streamlit
langchain
langchain-google-genai
langchain-anthropic
langchain-qdrant
langgraph
grandalf
qdrant-client
python-dotenv
pypdf
pdfplumber
openpyxl
langchain-text-splitters
duckduckgo-search
requests
sendgrid
galileo
